body {font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; text-align: left; background-image:  url('../images/blue_background.jpg');}
p{font-size: 18pt;color: black;}
h2{color: black;}
footer {background: darkgray; padding: 5px , 0px; text-align: center; color: black;}
nav {text-align: center;}
nav ul {background: linear-gradient(0deg, black, gray, white); padding: 0 20px; border-radius: 10px;  list-style: none; position: relative; color:black; font-weight:900; width:100%; display:inline-table;}
a:-webkit-any-link{color: cornsilk;cursor: pointer;text-decoration: underline;}
nav ul li a {display: block; padding: 10px; color:slategray; width: 100%;}
nav ul li:hover {background: linear-gradient(0deg, white, green, black);}
ul li {font-size: 18pt; color: black;}
header{width: 100%;}
.icon-bar { width: 100%;  overflow: auto;}
.icon-bar a {float: left; text-align: center; width: 20%; padding: 12px 0; transition: all 0.3s ease; color: white; font-size: 36px;}
.icon-bar a:hover {background-color: black;}
