*{
    width:100%;
    font-size:12pt;
    font-family:sans-serif;
    
    color:black;
    text-align:left;
    margin:0px;
    padding:0px;
    display:block;
    top:0%;
    height:auto;
    opacity:1;
    border:none;
    text-shadow:none;
    font-weight:normal;
}
aside, img {
    display:none;
}

header{
    box-shadow:none;
}
summary{
    margin-top:10px;
    color:black;
    font-size:12pt;
    text-shadow:none;
}

p{
    margin-top:10px;
}
h1,h2,h3{
    margin-top:10px;
}
details { 
    margin-top:10px;
    page-break-inside:avoid;
}
script{display: none;}